.statistics {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  align-items: center;
}

.title {
  margin: 40px auto;
}

.statlist {
  list-style: none;
  display: flex;
  flex-direction: row;
  gap: 0;
  margin: 0;
}

.item {
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin-top: 15px;
  justify-content: center;
  align-items: center;
  border: 1px solid gray;
  min-width: 160px;
  height: 140px;
}

.label {
}

.percentage {
}
